In this notebook, Data Science Tools and Ecosystems are summarized

**Objective:**
- List of the popular languages used in Data Science
- List of commonly used libraries in Data Science
- Table of Data Science Tools
- Examples of arithmetic expressions in python

## Author
Michelle Misyutina

# Data Science Tools and Ecosystem

#Some of the popular languages that Data Scientists use are: 
1. Java
2. Python
3. C++

#Some of the commonly used used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn

|Data Science Tools| 
------------------
|Hadoop           |                 
|Spark            |  
|Pandas           |

### Examples of evaluating arithmetic expressions in Python

In [91]:
#Simple arithmetic expression where you multiply then add integers
(3*4)+5

17

In [99]:
#Converting 200 minutes to hours 
total_minutes = 200

# Get hours with floor division
hours = total_minutes // 60

# Get additional minutes with modulus
minutes = total_minutes % 60

# Create time as a string
time = "{}:{}".format(hours, minutes)

print(time)

3:20